<template>
    <div class="info">
        <button class="icon panel" @click="show = !show">{{icon}}</button>
        <div class="more panel" v-show="show">
            <slot></slot>
        </div>
    </div>
</template>

<script setup>
    import {ref} from "vue"
    const show = ref(false)
    defineProps({
        icon: {
            default: '?'
        }
    })
</script>
<style scoped>

.info { 
    position: absolute;
}

.icon { 
    border-radius: 100%;
    border: 1px solid currentColor;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.icon:hover {
    background-color: white;
}

.more { 
    background-color: white;
    font-size: 0.8rem;
}


</style>
