<template>
    <div class="inspector">
        <label>Zoom</label>
        <input v-model="zoom" type="number" step="0.001">
        <label>Scale</label>
        <input v-model="scale" type="number" step="0.1">
        <label>Source</label>
        <input v-model="source" type="text">
    </div>
</template>

<script setup>
const zoom = defineModel('zoom', {default: 0.999}) 
const scale = defineModel('scale', {default: 0.5}) 
const source = defineModel('source', {default: '/test.mp4'})
</script>

<style>

.inspector { 
    max-width: 20ch;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input {
    display: inline-block;
    padding: 2px 4px;
    width: 10ch;
}


input + label { 
    margin-top: 2ch;
}

label {
    margin-bottom: 0.5ch;
    font-size: 0.8rem;
}

</style>
