<template>
    <div class="zone">
        <video ref="overlay" class="thumb" :src="source" :style="style" muted v-show="visible"
            disable-picture-in-picture></video>
        <canvas class="container" ref="canvas"></canvas>
    </div>
</template>
<script setup>
import {ref, computed, onBeforeUnmount, onMounted, watch } from 'vue'
import {useWindowSize, useMouse, useScroll, watchOnce} from '@vueuse/core'

const props = defineProps({
    scale: { type: Number, default: 0.5 },
    zoom: { type: Number, default: 0.999 },
    source: { type: String, default: '/test.mp4' }
})

const { width, height } = useWindowSize()
const { x, y } = useMouse()
const { y: yScroll } = useScroll(window)

const canvas = ref(null);
let ctx
let video
let videoContainer = { ready: false }
let requestId
let visible = false


const overlay = ref(null)
const style = computed(() => {
    return {
        transform: `translate(${constrainX.value}px, ${constrainY.value}px)`,
        width: `${videoContainer?.video?.videoWidth * props.scale || 0}px`,
    }
})


onBeforeUnmount(() => cancelAnimationFrame(requestId))

onMounted(() => {
    pS = props.scale

    canvas.value.width = width.value
    canvas.value.height = height.value
    ctx = canvas.value.getContext("2d");
    ctx.fillStyle = "rgba(255, 255, 255, 1)"
    ctx.fillRect(0, 0, canvas.value.width, canvas.value.height)

    let video = createVideo(props.source)

    videoContainer = {
        video: video,
        ready: false,
    }

    video.oncanplay = readyToPlayVideo
})

const readyToPlayVideo = () => {
    videoContainer.ready = true
    videoContainer.video.play();
    requestId = requestAnimationFrame(updateCanvas)
}

const createVideo = (source) => {
    video = document.createElement("video")
    video.src = source
    video.autoplay = false
    video.loop = true
    video.muted = true
    video.disablePictureInPicture = true
    video.oncanplay = () => {
        videoContainer.video = video
        overlay.value = video
    }
    return video
}


const changeSource = () => createVideo(props.source)

watch(() => props.source, () => {
    if (!document) return
    changeSource()
})

watch([width, height], () => {
    if (!canvas.value) return
    canvas.value.width = width.value
    canvas.value.height = height.value
})

watchOnce([x, y], () => {
    visible = true
})

let pX
let pY
let pS
let pZ


const bleedEdges = (h, v) => {
    ctx.fillStyle = "white"
    ctx.fillRect(0, 0, h, height.value)
    ctx.fillRect(width.value - h, 0, h, height.value)
    ctx.fillRect(0, 0, width.value, v)
    ctx.fillRect(0, height.value - v, width.value, v)
}

const constrainX = computed(() => {
    if (!videoContainer.video) return x.value
    let vidW = videoContainer.video.videoWidth * props.scale;
    let prevW = canvas.value.width * props.zoom
    let bleedX = (canvas.value.width - prevW) / 2 + 1
    return Math.max(bleedX, Math.min(x.value - vidW / 2, canvas.value.width - bleedX - vidW))
})

const constrainY = computed(() => {
    if (!videoContainer.video) return y.value + yScroll.value
    let vidH = videoContainer.video.videoHeight * props.scale;
    let prevH = canvas.value.height * props.zoom
    let bleedY = (canvas.value.height - prevH) / 2 + 1
    return Math.max(bleedY, Math.min(y.value - yScroll.value - vidH / 2, canvas.value.height - bleedY - vidH))
})

const updateCanvas = () => {
    if (videoContainer !== undefined && videoContainer.ready && canvas && width.value && visible) {
        // Zooming out background
        let zoom = props.zoom
        let sign = Math.sign(props.zoom)



        let offsetX = -sign * (x.value - canvas.value.width / 2) / (canvas.value.width - canvas.value.width / 2) * zoom
        let offsetY = -sign * (y.value - canvas.value.height / 2) / (canvas.value.height - canvas.value.height / 2) * zoom

        let prevX = canvas.value.width / 2 - canvas.value.width * zoom / 2 + offsetX
        let prevY = canvas.value.height / 2 - canvas.value.height * zoom / 2 + offsetY
        let prevW = canvas.value.width * zoom
        let prevH = canvas.value.height * zoom

        let bleedX = (canvas.value.width - prevW) / 2 + 1
        let bleedY = (canvas.value.height - prevH) / 2 + 1

        // ctx.drawImage(canvas.value, bleedX, bleedY, canvas.value.width - bleedX, canvas.value.height - bleedY, prevX, prevY, prevW, prevH)
        ctx.drawImage(canvas.value, prevX, prevY, prevW, prevH)
        bleedEdges(bleedX, bleedY)

        if (pX != x.value || pY != y.value || pS != props.scale || pZ != props.zoom) {



            videoContainer.video.play()
            overlay.value.play()
            // Frame
            var scale = props.scale
            var vidH = videoContainer.video.videoHeight * scale;
            var vidW = videoContainer.video.videoWidth * scale;

            // Limit to visible screen
            let vidX = constrainX.value
            let vidY = constrainY.value


            ctx.drawImage(videoContainer.video, vidX, vidY, vidW, vidH);

            pX = x.value
            pY = y.value
            pS = props.scale
            pZ = props.zoom

        } else {
            if (!videoContainer.video.paused)
                videoContainer.video.pause()
            if (!overlay.paused)
                overlay.value.pause()
        }
    }
    requestId = requestAnimationFrame(updateCanvas)
}

</script>
<style lang="postcss" scoped>
.zone {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: none;
    z-index: -1;
}

.thumb {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
}

canvas.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    max-width: 100%;

    z-index: 0;

}
</style>

