<script setup>
    import VideoPlayer from '@/components/VideoPlayer.vue'
    import Inspector from '@/components/Inspector.vue'
    import InfoPanel from '@/components/InfoPanel.vue'

    import {ref} from 'vue'

    const zoom = ref(0.999) 
    const scale  = ref(0.5) 
    const source = ref('/test.mp4')


</script>

<template>
    <div class="container">
        <InfoPanel class="about">
      
            <h1>thumbi</h1>

            <p>A soothing video player for those who wants to engage with moving images.</p>

            <p>
            This is an interactive version of the background developed for <a href="https://sofiamerelli.com" target="_blank">my gf website</a>!
            Parameters can be tweaked in the right panel, and other videos can be linked as well. It works best with small resolution files and on chromium-based browsers!
            </p>

            <p>
            The code is open source. Find it here: <a href="https://gitlab.com/km0/thumbi" target="_blank">thumbi</a>
            </p>

        </InfoPanel>
        <InfoPanel class="settings" icon="...">
            <Inspector v-model:zoom="zoom" v-model:scale="scale" v-model:source="source"  />
        </InfoPanel>
        <VideoPlayer :zoom="zoom" :scale="scale" :source="source" />
    </div>
</template>

<style scoped>
.container {
    position: relative;
}

.about {
    top: 24px;
    left: 24px;
    max-width: 40ch;
}

.settings {
    top: 24px;
    right: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h1  {
    font-size: 1rem;
    margin-top: 0;
    }

</style>
