html, body {
    font-family: sans-serif;
}

.panel {
    padding: 16px;
    color: #333;
    border: 1px solid currentColor;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.75);
    backdrop-filter: blur(5px);
}
